bind:
  host: 127.0.0.1
  port: 54321
oauth:
  auth_url: https://example.com/oauth2/authorize
  token_url: https://example.com/oauth2/token
  user_url: https://example.com/oauth2/userinfo
  client_id: client_id
  client_secret: client_secret
  scope: openid roles
cookie:
  name: OAUTHSSOAUTHSESS
  secure: true
  # gen random base64 encoded (at least) 32 bytes with `openssl rand -base64 32` for secret
  secret: X2NoYW5nZV90aGlzX3RvX3JhbmRvbV8zMl9jaGFyc18K
  refresh_time: 60
  valid_time: 3600
  field: username|roles
prefix: /oauth_sso_auth
